#dashboard {
  background-color: #FAFAFA;
  min-height: 100vh;
  h1 {
    font-weight: 700;
    font-size: 29.1349px;
    line-height: 34px;
    color: #20584B;
  }
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
  }

  button {
    position: relative;
    font-family: 'roboto';
    bottom: 0;
  }
}
