// Specific CSS for your home-page

* {
  font-family: 'Roboto';
  font-style: normal;
}

.landing-banner {
  height: 150px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0!important;
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

h2 {
  color: black;
  font-size: 22px;
}

body {
  color: black;
}

.banner {
  color: black;
}

#wide-bg {
  background-image: url('assets/landing/Buffet.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
  height:350px;
}

button {
  position: absolute;
  bottom: 30px;
}
