// Specific CSS for your home-page

* {
  font-family: 'Roboto';
  font-style: normal;
}

.landing-banner {
  height: 150px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0!important;
}

h3 {
  font-family: roboto thin;
}

a {
  text-decoration: none;
  color: #484848;
  &:hover {
    text-decoration: none;
    color: #373737;
  }
}

body {
  color: black;
}

.banner {
  color: black;
}

#wide-bg {
  background-image: url('assets/landing/Buffet.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
  height:350px;
}

button {
  position: absolute;
  font-family: 'roboto';
  bottom: 1vh;
  width: 220px;
  height: 50px;
}

.form-group {
  padding-top:15px;
}
