<div class="container">
  <%= simple_form_for @user, url: chef_path(@user) do |f| %>
    <%= f.input :chef_comment, label: "Describe you" %>
    <%= f.input :radius, label:'Within how many km around you do you want to be chief ?' %>
    <%= f.submit class: "btn btn-secondary"%>
  <% end %>
</div>
