<div id="dashboard" class="container-fluid py-3 px-5">

  <header>
    <h1 class="h2">Dashboard</h1>
    <p class="subtitle">Manage your informations here!</p>
  </header>

  <div id="offers">
    <div class="info-row">
      <h4>Manage Menus</h4>
      <div class="info-row-right">
        <button>Add <i class="fa-solid fa-plus"></i></button>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffers" aria-expanded="false" aria-controls="collapseOffers">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseOffers">
      <div class="container-fluid py-3">
        <div class="row" style="height: 331px;">
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="meals">
    <div class="info-row">
      <h4>Manage Menus</h4>
      <div class="info-row-right">
        <button>Add <i class="fa-solid fa-plus"></i></button>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseMeals" aria-expanded="false" aria-controls="collapseMeals">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseMeals">
      <div class="container-fluid py-3">
        <div class="row" style="height: 331px;">
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="bookinks">
    <div class="info-row">
      <h4>Manage Menus</h4>
      <div class="info-row-right">
        <button>Add <i class="fa-solid fa-plus"></i></button>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseBookings" aria-expanded="false" aria-controls="collapseBookings">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="collapse" id="collapseBookings">
      <div class="container-fluid py-3">
        <div class="row" style="height: 331px;">
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
          <div class="card offer-card col-3" style="background-color: red;"></div>
        </div>
      </div>
    </div>
  </div>

</div>
