<body>
  <div class="banner" style="background-image: url(assets/landing/meal-landing.jpeg);">
    <div class="container">
      <div class ="card card-meal my-5 position-absolute">
      <h2>Discover offers from our chef for unique experiences</h1>
      <form>
        <div class="form-group">
          <label for="formGroupWhereInput">WHERE</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Bordeaux">
        </div>
        <div class="form-group">
          <label for="formGroupNumberInput2">FOR HOW MANY</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="42">
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="text-left ml-4 mt-3">
    <h2>Experience Cook4me</h2>
    <p>A selection of chefs enticed by our ever-growing customer base</p>
  </div>
  <div class="container-fluid mb-3">
    <div id='wide-bg'>
      <div class="d-flex justify-content-center">
      <button>Discover the menus</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="cards cards-meal">

      <div class="card card-meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>Apply</h4>
        <p>First apply to one of our campuses around the world.</p>
      </div>

      <div class="card card-meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>Learn to code</h4>
        <p>Learn Ruby on Rails, Javascript, SQL & much more!</p>
      </div>

      <div class="card card-meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>

      <div class="card card-meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>

      <div class="card card-meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>

      <div class="card card-meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>Build products</h4>
        <p>Finally you will be able to bring your ideas to life.</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
    </div>
  </div>

</body>
</html>
