<body>
  <div class="banner" style="background-image: url(assets/landing/meal-landing.jpeg);">
    <div class="container">
      <div class="container-fluid">
        <div class ="card card-meal my-5 position-absolute">
        <h2>Discover offers from our chef for unique experiences</h1>
        <form>
          <div class="form-group col">
            <label for="formGroupWhereInput">WHERE</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Bordeaux">
          </div>
          <div class="form-group col">
            <label for="formGroupNumberInput2">FOR HOW MANY</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="42">
            <input class='btn-secondary my-3' type='submit' value='check it'>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-4 px-5">
    <div>
      <h2>Experience Cook4me</h2>
      <p>A selection of offers made by chefs enticed by our ever-growing customer base</p>
    </div>
    <div>
      <div id='wide-bg'>
        <%= link_to "<button>Discover the menus</button>".html_safe, offers_path, :class=>"d-flex justify-content-center" %>
      </div>
    </div>
  </div>

  <div class='container-fluid my-3 pt-2 px-5'>
    <h2>Best dishes according to our users</h2>
    <p>Among the menus our chefs are offering, some dishes stand out !<br>
    Here they are</p>
  </div>

  <div class="container-fluid px-5">
    <div class="cards-meal uk-child-width-1-2@m">

      <div class="card uk-card uk-card-default meal">
        <img src="https://images.unsplash.com/photo-1602253057119-44d745d9b860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2052&q=80" alt="">
        <h4>ASTOU DJIBRIL</h4>
        <h2>Chicken African Style</h2>
        <h1>For 12€/person</h1>
        <h3>In the "Goute moi ça" Menu</h3>
        <span class="chef-rating">Chef 4.91 ✯</span>
      </div>

      <div class="card uk-card uk-card-default meal">
        <img src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <h4>THIERRY L'HERMITE</h4>
        <h2>Simple Salmon</h2>
        <h1>For 13€/person</h1>
        <h3>In the "Fish and Dish" Menu</h3>
        <span class="chef-rating">Chef 4.82 ✯</span>
      </div>

      <div class="card uk-card uk-card-default meal">
        <img src="https://images.unsplash.com/photo-1598532213919-078e54dd1f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80" alt="">
        <h4>MAKADA NORATE</h4>
        <h2>Super Potatoes</h2>
        <h1>For 8€/person</h1>
        <h3>In the "Simple Veggies" Menu</h3>
        <span class="chef-rating">Chef 4.17 ✯</span>
      </div>

      <div class="card uk-card uk-card-default meal">
        <img src="https://images.unsplash.com/photo-1564671165093-20688ff1fffa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=998&q=80" alt="">
        <h4>RAJESH AJAY</h4>
        <h2>Curry and rice</h2>
        <h1>For 7€/person</h1>
        <h3>In the "Spicy Veggies" Menu</h3>
        <span class="chef-rating">Chef 4.18 ✯</span>
      </div>

      <div class="card uk-card uk-card-default meal rounded">
        <img src="https://images.unsplash.com/photo-1574484284002-952d92456975?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
        <h4>ALEKSANDER JOHANSEN</h4>
        <h2>Salmon a la norvégienne</h2>
        <h1>For 14€/person</h1>
        <h3>In the "Foreign palate" Menu</h3>
        <span class="chef-rating">Chef 4.21 ✯</span>
      </div>

      <div class="card uk-card uk-card-default meal">
        <img src="https://images.unsplash.com/photo-1606850246029-dd00bd5eff97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt="">
        <h4>NOEMIE GOUTIER</h4>
        <h2>Fruity Burrata</h2>
        <h1>For 17€/person</h1>
        <h3>In the "Chic" Menu</h3>
        <span class="chef-rating">Chef 4.31 ✯</span>
      </div>
    </div>
  </div>

  <div class='container-fluid px-5 pt-5'>
    <h2>Menus for every taste</h2>
    <div class="row cards-meal uk-child-width-1-2@m">
      <div class="card card-chef uk-card uk-card-default col-sm">
        <img src="assets/landing/chef-1.jpeg" alt="">
        <span class='chef-heart'>Coup de coeur</span>
        <span class='chef-city-heart'>Bordeaux</span>
        <span class='chef-pricing'>From 12€/person</span>
        <span class='chef-note'>★ 4.28</span>
      </div>

      <div class="card card-chef uk-card uk-card-default col-sm">
        <img src="assets/landing/chef-2.jpeg" alt="">
        <span class='chef-title'>Superchef</span>
        <span class='chef-city'>Bordeaux</span>
        <span class='chef-pricing'>From 12€/person</span>
        <span class='chef-note'>★ 4.32</span>
      </div>

      <div class="card card-chef uk-card uk-card-default col-sm">
        <img src="assets/landing/chef-3.jpeg" alt="">
        <span class='chef-title'>Superchef</span>
        <span class='chef-city'>Toulouse</span>
        <span class='chef-pricing'>From 12€/person</span>
        <span class='chef-note'>★ 4.12</span>
      </div>
    </div>

    <div class="row cards-meal uk-child-width-1-2@m">
      <div class="card card-chef uk-card uk-card-default col-sm">
        <img src="assets/landing/chef-5.jpeg" alt="">
        <span class='chef-title'>Superchef</span>
        <span class='chef-city'>Paris</span>
        <span class='chef-pricing'>From 12€/person</span>
        <span class='chef-note'>★ 4.82</span>
      </div>

      <div class="card card-chef uk-card uk-card-default col-sm">
        <img src="assets/landing/chef-6.jpeg" alt="">
        <span class='chef-title'>Superchef</span>
        <span class='chef-city'>Paris</span>
        <span class='chef-pricing'>From 12€/person</span>
        <span class='chef-note'>★ 4.12</span>
      </div>

      <div class="card card-chef uk-card uk-card-default col-sm">
        <img src="assets/landing/chef-7.jpeg" alt="">
        <span class='chef-title'>Superchef</span>
        <span class='chef-city'>Montpellier</span>
        <span class='chef-pricing'>From 12€/person</span>
        <span class='chef-note'>★ 4.69</span>
      </div>
    </div>
  </div>

  <div class='container-fluid px-5 pt-5'>
    <h2>Top Reviews</h2>
    <div class="row cards-meal uk-child-width-1-2@m">
      <div class="card card-review uk-card uk-card-default col-sm">
        <img src="https://images.unsplash.com/photo-1605433246995-23f532d1e001?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <span class='review-title'>Great experience with my family</span>
        <p>Noemie was really nice and teached my daughter while doing food for our whole family. It was really fun and my daughter discovered herself a passion for ... Read More</p>
      </div>

      <div class="card card-review uk-card uk-card-default col-sm">
        <img src="https://images.unsplash.com/photo-1556909172-bd5315ff61a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="">
        <span class='review-title'>Really nice cooking lessons</span>
        <p>I’ve been really good at cooking but i really like to cook my own meal as it is economic and more healthy. I asked Charlie to help me discover new dishes and it .... Read More</p>
      </div>

      <div class="card card-review uk-card uk-card-default col-sm">
        <img src="https://images.unsplash.com/photo-1603573561692-d36965bd5096?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2359&q=80" alt="">
        <span class='review-title'>Perfect for Birthdays !</span>
        <p>For my son’s birthday, I wasn’t able to cook so i asked my husband to look for a chef here and my son was beyond happy with all the finger food he made ! It... Read more</p>
      </div>
    </div>
  </div>


  <%# <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
    </div>
  </div> %>
</body>
</html>
