.card img {
  width: 150px;
}

.card p {
  opacity: .5;
}

.card-meal {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.cards-meal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

@media(max-width: 900px) {
  .card-meal {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards-meal {
    justify-content: space-around;
  }
}
