.meal p {
  opacity: .5;
}

.card-meal {
  width: 28rem;
  height: 23rem;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 30px;
  border: 1px solid rgb(230,230,230);
  overflow: hidden;
}

@media only screen and (max-height: 800px) {
  .card-meal {
    height: 370px;
    opacity: 0.9;
  }
}
.card-meal.form-group {
  width: 250px;
  margin: -100px;
}

.container-meals {
  display: flex;
  justify-content: space-around;
}

.meal {
  width: 250px;
  border: none;
  height: 330px;
}

.cards-meal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card-meal h2 {
  font-size: 1.9rem;
}
.meal h2 {
  position: absolute;
  font-size: 22px;
  bottom: 108px;
  color:#484848;
}

.chef-rating {
  position: absolute;
  font-family: roboto thin;
  bottom: 12px;
  font-size: 13px;
}

.meal h3 {
  font-size: 16px;
  position: absolute;
  bottom: 35px;
  color:#484848;
}

.meal h4 {
  font-size: 14px;
  font-family: roboto thin;
  position: absolute;
  bottom: 136px;
  color:#484848;
}

h2 {
  font-family: roboto bold;
  font-size: 28px;
}


.card.uk-card.uk-card-default.meal img {
  border-radius:2%;
  height: 10rem;
  object-fit: cover;
}

.card.uk-card.uk-card-default.meal h1 {
  font-size: 16px;
  font-family: 'roboto';
  position: absolute;
  bottom: 60px;
}

@media(max-width: 900px) {
  .card-meal {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards-meal {
    justify-content: space-around;
  }
}
