.card-dashboard-booking {
  //  card design line --> dropdown
  color: #fff;

  h6 {
    margin-bottom: 4px!important;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }

  .card-dashboard {
    padding: 36px;
    background: linear-gradient(119.15deg, #20584B -13.54%, #292F3C 118.09%);
    box-shadow: 9.71163px 11.654px 77.693px rgba(84, 135, 183, 0.08);
    border-radius: 10px;
    position: relative;
  }

  .full-width-flex {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
  }

  .justify-between {
    justify-content: space-between;
  }

  .header {
    align-items: center;
    justify-content: space-between;
    color: #fff;
    .right {
      display: flex;
      div {
        // border: 1px solid #fff;
        background: #582020;
        border-radius: 5px;
        padding: 8px;
        margin-left: 8px;
      }
    }
  }

  .element {
    width: 100%;
  }

  .review {
    flex-direction: column;
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 64px;
    .btn-booking-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 63px;
      gap: 10px;
      border-radius: 5px 5px 0 0;
    }
    .green {
      background: #20584B;
    }
    .red {
      background: #582A20;
    }
  }

  button, .btn-bookings {
    background: #38695E;
    // border: 1px solid #FAFAFA;
    box-shadow: 0 3px 0 #0b211c;
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 16px;
    color: white;
  }

  button:hover {
    box-shadow: 0 3px 0 #759991;
  }

}
