.meal p {
  opacity: .5;
}

.card-meal {
  width: 330px;
  height: 410px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 30px;
  border: 1px solid rgb(230,230,230);
}

.card-meal.form-group {
  width: 250px;
  margin: -100px;
}

.container-meals {
  display: flex;
  justify-content: space-around;
}

.meal {
  width: 250px;
  border: none;
  height: 375px;
}

.cards-meal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.meal h2 {
  position: absolute;
  color: black;
  font-size: 22px;
  bottom: 138px;
  left: 10px;
}

.chef-rating {
  position: absolute;
  bottom: 12px;
  font-size: 13px;
  left: 15px;
}

.meal h3 {
  font-size: 16px;
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.meal h4 {
  font-size: 14px;
  position: absolute;
  bottom: 175px;
  left: 10px;
}

@media(max-width: 900px) {
  .card-meal {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards-meal {
    justify-content: space-around;
  }
}
